{% extends 'baza.html' %}
{% from "bootstrap5/form.html" import render_form %}
{% block title %}Invoices{% endblock %}

{% block content %}

      {%if msg %}
      <h1> {{msg}}</h1>
      {% endif %}

      <div class="row row-cols-1 row-cols-sm-2 row-cols-md-3 g-3">
          {% for payment in invoices_list %}
            <div class="col">
              <div class="card">
                  <svg xmlns="http://www.w3.org/2000/svg" width="50" height="50" fill="currentColor" class="bi bi-book-half the_picture" viewBox="0 0 16 16">
                    <path d="M8.5 2.687c.654-.689 1.782-.886 3.112-.752 1.234.124 2.503.523 3.388.893v9.923c-.918-.35-2.107-.692-3.287-.81-1.094-.111-2.278-.039-3.213.492V2.687zM8 1.783C7.015.936 5.587.81 4.287.94c-1.514.153-3.042.672-3.994 1.105A.5.5 0 0 0 0 2.5v11a.5.5 0 0 0 .707.455c.882-.4 2.303-.881 3.68-1.02 1.409-.142 2.59.087 3.223.877a.5.5 0 0 0 .78 0c.633-.79 1.814-1.019 3.222-.877 1.378.139 2.8.62 3.681 1.02A.5.5 0 0 0 16 13.5v-11a.5.5 0 0 0-.293-.455c-.952-.433-2.48-.952-3.994-1.105C10.413.809 8.985.936 8 1.783"/>
                  </svg>
                  {% if payment.amount > 0 %}
                  <p class="card-text">Invoice {{payment.id}}/{{payment.deadline}}</p>
                  <p class="card-text">Paid:
                      {% if payment.already_paid == False %}
                        <span>No</span></p>
                        <p class="card-text">Amount to pay: ${{payment.amount}}</p>
                        <a href="{{ url_for('redirection', id=payment.id) }}"><button type="submit" class="btn btn-warning" style="width: 100%">Pay now</button></a>
                      {% endif %}
                      {% if payment.already_paid == True %}
                        <span>Yes</span>
                        <p class="card-text">Amount paid: ${{payment.amount}}
                       <a href="{{ url_for('invoice', id=payment.id) }}"><button type="submit" class="btn btn-warning" style="width: 100%">Download EDI format invoice</button></a>
                      {% endif %}
                      </p>
                  {% endif %}
                  {% if payment.amount <= 0 %}
                    <p>No delays in returning the book with borrow number: {{payment.borrow_id}}</p>
                  {% endif %}
              </div>
            </div>
          {% else %}
            <h1>No invoices yet!</h1>
          {% endfor %}
      </div>
{% endblock %}
